<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141555643991-r57p3b6pagvlmrmgq8h00gdapnr9821e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141555643991-r57p3b6pagvlmrmgq8h00gdapnr9821e</string>
	<key>API_KEY</key>
	<string>AIzaSyA5RZ7bmf5JAUreGed5zGzUmy_U-e_ji-M</string>
	<key>GCM_SENDER_ID</key>
	<string>141555643991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jerry.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-4d208</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-4d208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141555643991:ios:ebfef9a33acfa967f25512</string>
</dict>
</plist>